<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        /* 添加的 CSS 使导航栏固定在顶部 */
        .navbar-fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030; /* 确保导航栏位于页面其他元素之上 */
        }

        /* 添加一些顶部 padding 到 body 以确保页面内容不会被固定的导航栏遮挡 */
        body {
             /* 根据导航栏的实际高度调整这个值，这里假设为 70px 以提供一些额外的空间 */
        }
    </style>
</head>
<body>
<div th:fragment="nav">
    <!-- 在这里添加 navbar-fixed-top 类来应用固定顶部的样式 -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="/">WhaleCloud</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/search" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="keyword" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}">
                        <a href="/publish">发布</a>
                    </li>
                    <li th:if="${session.user != null}"><a href="#">AI问答</a></li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/home">个人主页</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                        <a href="/login">登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- 页面的其他内容 -->
</body>
</html>
