<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" http-equiv="Content-Type" charset="UTF-8">
    <title>WhaleCloud</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/whalecloud.css">
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">

    <!-- 引入 jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 引入 Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>搜索结果</h2>
            <hr>
            <div class="media" th:each="result:${results}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${result.avatarurl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:text="${result.title}" th:href="@{'question/' + ${result.id}}">
                        </a>
                    </h4>

                    <span class="text-desc">作者:<span th:text="${result.name}"></span>  ·<span th:text="${result.commentCount} "></span> 个回复 · <span th:text="${result.viewCount}"></span>  次浏览
                        · <span th:text="${#dates.format(result.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--icp备案号-->
<div th:insert="icp"></div>
</body>
</html>
